header p{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.03em;
color: #212121
margin: 0;
pading-top: 16px;
pading-bottom: 16px;
text-align: center;
}

body{
    bargin: 0;
}

span{
    color: #2196f3;
}
img{
    display: block;
    width: 100%;
}

:first-section (
    height: 400px;
    left: 0px;
    top: 60px;
)
